
body{
  background-color:white;
}
.navbar-inverse{
  background-color: #845cbc !important;
  }
.navbar-header{
  background-color: #000000;
  float:left;
  width:225px;
  }
.table {
width: 100%;
max-width: 100%;
margin-bottom:2%;
margin-left: 1%;
  }
.thead{
padding:20% !important;
  }
.side-nav{
background-color: #3a536b !important;
padding-top: 3%;
  }
  .side-nav>li{
  padding-top: 10%;
  }
.progress{
padding:0px;
border-radius: 0px;
margin-top:20%;
margin-bottom:20%;

  }
  .row{
    margin-left: 0%;
    margin-right: 0%;
    }
.progress-bar{
background-color: green;
  }
table>tbody>tr>td{
padding:0% !important
  } 
.progress-bar-color{
  }
.td-text-align{
text-align:center;
padding-top:25%;
padding-bottom:25%; 
  }
.tr-color{
background-color:#eeeeee; 
  }
.td-width{
width:20%;
  }
.col-align-center{
font-size:14px; 
  }
.col-align-right{
    float: right;
    flex-direction: row;
}
.col-text-font{
font-size:20px;
color:#7a6f61;
padding-left: 3%;
  }
.row-boxing{
padding-top:5%;
background-color:white;
  }
.top-nav>li>a{
font-size: 16px;
color:white !important; 
border-right: 1px solid white;
font-family: Arial, Helvetica, sans-serif;
  }
  .top-nav>li {
    display: inline-block;
    float: left;
}
.fa>p>a>i {
color:#42cef4;
  }
.top-nav>li>p>a{
font-size: 18px;
color:#42cef4;
  }
.p1 {
padding-bottom: 0px;    
padding-top: 10%;
  }
.navbar-inverse .navbar-brand {
color: #f5f5f5;
  }
  table>tbody>tr>td{
          padding:0% !important
          
        }
.fa-large{
margin-left: 20px;
transform:scale(2,2);
padding-right:10px; 
  }
.side-nav>li>a{
font-size: 16px;
color:#f5f5f5;
font-family: Arial, Helvetica, sans-serif;
  }
.div-align{
font-size:18px;
padding-left:1%;
background-color: white;
margin-bottom:2%;
  }
.fa-small-color{
  padding-right:10px;
color:#237020;
transform:scale(1.5,1.5);
  }
  .fa-small{
  padding-right:10px;
  transform:scale(1.5,1.5);
  }
.navbar-right {
float: right !important;
margin-right:2%;
  }
  .th-text-align{
    text-align: center;
    background-color:#dbdcff;
}
  #page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #eee;
}

.team-align{
  padding-left:2%;
  padding-top:2%;
}
#main {
  height:100%;
  overflow:auto;
}
.row-margin{
  display:flex;
  -webkit-flex;
}
#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}
